<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.jex01.board.mapper.TimeMapper"><!--namespace : 패키지명이랑 맞춰주기  namespace + id = 풀네임-->

    <select id="getTime2" resultType="string"><!--여기에서 connection, resultSet, PreparedStatement를 대체해줌 -->
        select now() <!--얘가 prepareStatement를 만들어 줌 : ;쓰지말기 -->
    </select>
</mapper>